<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FunnelDisplay-Light.ttf</string>
		<string>FunnelDisplay-SemiBold.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Tymer a besoin d'accéder à ta caméra pour capturer ton moment quotidien</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Tymer a besoin d'accéder à ton micro pour enregistrer des réactions vocales</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Tymer a besoin d'accéder à ta photothèque pour sélectionner des photos</string>
</dict>
</plist>
